:root {
  --primary-color: #ededed; //var(--primary-color)
  --secondary-color: #444444; //var(--secondary-color)
  --third-color: #aaaaaa; //var(--third-color)
  --fourth-color: #ffffff; //var(--fourth-color)
}

/* DARK MODE */

.dark-theme {
  --primary-color: #444444;
  --secondary-color: #ededed;
  --third-color: #ffffff;
  --fourth-color: #aaaaaa;
}

//OS THEME COLOR HANDLE

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 15px;
    line-height: 1.5;
  }
}
