:root {
  --primary-color: #ededed; //var(--primary-color)
  --secondary-color: #444444; //var(--secondary-color)
  --third-color: #aaaaaa; //var(--third-color)
  --fourth-color: #ffffff; //var(--fourth-color)
}

//OS THEME COLOR HANDLE

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

/* DARK MODE */

.dark-theme {
  --primary-color: #444444;
  --secondary-color: #aaa;
  // --third-color: #ffffff;
  // --fourth-color: #aaaaaa;
}

//OS THEME COLOR HANDLE

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

// HOME BUTTON
#home-button {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 5px;
  img {
    color: var(--third-color);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:hover {
      margin-left: 5px;
    }
  }
}

#app {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin: 0 auto;
  background-color: var(--primary-color);
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
  &:hover {
    color: var(--secondary-color);
    fill: currentColor;
  }
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}

.project-container {
  max-width: 1000px;
  margin: 50px auto;
  height: 100%;
  padding-bottom: -100px;
}

.project1 {
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 200px;
  @media screen and (max-width: 768px) {
    align-items: flex-start;
    margin-bottom: 100px;
  }
}

.project-content1 {
  position: relative;
  grid-column: 1 / 7;
  grid-row: 1 / -1;

  @include tablet {
    grid-column: 1 / -1;
    padding: 40px;
  }

  .project-label1 {
    color: var(--third-color);
    font-family: monospace;
  }
  .project-title1 {
    font-size: 2rem;
    margin: 10px 0 30px;
    color: var(--secondary-color);
  }
  .project-details1 {
    font-size: 15px;
    line-height: 1.5;
    color: var(--third-color);

    p {
      background-color: #252525;
      padding: 20px 25px;
      @include tablet {
        background-color: transparent;
        padding: 20px 0;
      }
    }

    ul {
      display: flex;
      margin-top: 20px;

      li {
        margin-right: 20px;
        color: var(--third-color);
        font-family: monospace;
      }
    }
  }
}

.project-img1 {
  position: relative;
  z-index: -1;
  background-color: var(--primary-color);
  background: linear-gradient(
    0.4turn,
    var(--primary-color),
    var(--third-color)
  );
  border-radius: 2px;
  grid-column: 6 / -1;
  grid-row: 1 / -1;

  @media screen and (max-width: 768px) {
    object-fit: cover;
    width: auto;
  }
  @include tablet {
    grid-column: 1 / -1;
    opacity: 0.25;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--third-color);
    mix-blend-mode: screen;
    border-radius: 2px;
  }

  img {
    border-radius: 2px;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    &:hover {
      display: none;
    }

    @media screen and (max-width: 768px) {
      object-fit: cover;
      width: auto;
    }
  }
}

.project2 {
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 200px;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
    margin-bottom: 100px;
  }
}

.project-content2 {
  position: relative;
  grid-column: 7 / -1;
  grid-row: 1 / -1;
  text-align: right;
  grid-area: 1 / -1 / -1 / 7;

  @include tablet {
    grid-column: 1 / -1;
    padding: 40px;
  }

  .project-label2 {
    color: var(--third-color);
    font-family: monospace;
  }
  .project-title2 {
    font-size: 2rem;
    margin: 10px 0 30px;
    color: var(--secondary-color);
  }
  .project-details2 {
    font-size: 15px;
    line-height: 1.5;
    color: var(--third-color);

    p {
      background-color: #252525;
      padding: 20px 25px;
      @include tablet {
        background-color: transparent;
        padding: 20px 0;
      }
    }

    ul {
      display: flex;
      margin-top: 20px;
      justify-content: flex-end;
      position: relative;
      top: 0px;
      left: 20px;

      li {
        margin-right: 20px;
        color: var(--third-color);
        font-family: monospace;
      }
    }
  }
}

.project-img2 {
  position: relative;
  z-index: -1;
  background-color: var(--primary-color);
  background: linear-gradient(
    0.4turn,
    var(--primary-color),
    var(--third-color)
  );
  border-radius: 2px;
  grid-column: 1 / 8;
  grid-area: 1 / 8 / -1 / 1;
  grid-row: 1 / -1;

  @media screen and (max-width: 768px) {
    object-fit: cover;
    width: auto;
  }
  @include tablet {
    grid-column: 1 / -1;
    opacity: 0.25;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--secondary-color);
    mix-blend-mode: screen;
    border-radius: 2px;
  }

  img {
    border-radius: 2px;
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);

    @media screen and (max-width: 768px) {
      object-fit: cover;
      width: auto;
    }
  }
}

.project-links {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--secondary-color);
  -webkit-box-pack: end;
  justify-content: flex-end;

  a {
    color: var(--secondary-color);
    padding: 10px;

    &.external {
      svg {
        width: 22px;
        height: 22px;
        margin-top: -4px;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.project-links2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--secondary-color);
  -webkit-box-pack: end;
  justify-content: flex-start;

  a {
    color: var(--secondary-color);
    padding: 10px;

    &.external {
      svg {
        width: 22px;
        height: 22px;
        margin-top: -4px;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.project1:nth-of-type(4) {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

/* Set color on the images on hover */
.project-img1:hover,
.project-img2:hover {
  z-index: 9999;
  background-color: none;
}

.project-img1:hover img,
.project-img2:hover img {
  background: none;
  background-color: none;
  -webkit-filter: none;
  filter: none;
}

/* Scroll top smooth */
.top-button {
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 330px;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.top-button.active {
  visibility: visible;
  bottom: 50px;
  opacity: 1;
  &:hover {
    background-color: var(--fourth-color);
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

//FOOTER

footer {
  font-family: monospace;
  font-size: 15px;
  .copyright {
    display: flex;
    justify-content: center;
    p {
      color: var(--third-color);
      #year {
        color: var(--secondary-color);
      }
    }
  }
}

// GLOBAL RESPONSIVE

/* Change the project tech-list display on small screens */
@media only screen and (max-width: 560px) {
  .project-content2 .project-details2 ul {
    display: grid;
  }
  .project-content2 .project-details2 ul li:hover {
    color: var(--secondary-color);
  }

  .project-content1 .project-details1 ul {
    display: grid;
  }
  .project-content1 .project-details1 ul li:hover {
    color: var(--secondary-color);
  }
}
/* Fix the button according the screen size */
@media only screen and (max-width: 1680px) {
  .top-button.active {
    right: 10px;
    bottom: 35px;
  }
}

/* Set the scroll button visibility on small screens */
@media only screen and (max-width: 655px) {
  .top-button.active {
    display: none;
  }
}

/* Handle Rolly.js rendering */
[data-scene] {
  margin: auto;
  padding: 10vh 50px;
}

[data-scene]:first-of-type {
  // margin: O;
  padding: 0;
}
[data-scene]:last-of-type {
  margin-bottom: 22.5vh;
}

//DISABLE KURSOR DEPENDING ON SCREEN SIZE

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .notCursor * {
    cursor: auto;
  }
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
}
@media screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
  .notCursor * {
    cursor: auto;
  }
}
