:root {
  --primary-color: #ededed; //var(--primary-color)
  --secondary-color: #444444; //var(--secondary-color)
  --third-color: #aaaaaa; //var(--third-color)
  --fourth-color: #ffffff; //var(--fourth-color)
}

//OS THEME COLOR HANDLE

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

/* DARK MODE */

.dark-theme {
  --primary-color: #444444;
  --secondary-color: #ededed;
  --third-color: #ffffff;
  --fourth-color: #aaaaaa;
}

//OS THEME COLOR HANDLE

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

html a:hover {
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

#app {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  margin: 0;
  background-color: var(--primary-color);
}

// HOME BUTTON
#home-button {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 5px;
  img {
    color: var(--third-color);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:hover {
      margin-left: 5px;
    }
  }
}

/* PROJECT ONE */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  .mySlides1 {
    img {
      width: 90%;
      margin-bottom: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .project-informations {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      .project-title {
        text-transform: uppercase;
        color: var(--third-color);
        font-weight: bold;
      }
      .img-number {
        color: var(--third-color);
        font-weight: bold;
      }
    }
    .project-description {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      .project-description-content {
        color: var(--third-color);
        line-height: 1.5;
        text-align: justify;
      }
    }
  }
  a {
    text-decoration: none;
  }
  .previous {
    color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    font-weight: bold;
    font-size: 1px;
  }

  .next {
    color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    font-weight: bold;
    font-size: 1px;
  }
}

.separation {
  width: 50px;
  height: 50px;
  border: 2px dashed var(--third-color);
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 100px;
}

/* PROJECT TWO  */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  .mySlides2 {
    img {
      width: 90%;
      margin-bottom: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .project-informations {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      .project-title {
        text-transform: uppercase;
        color: var(--third-color);
        font-weight: bold;
      }
      .img-number {
        color: var(--third-color);
        font-weight: bold;
      }
    }
    .project-description {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      .project-description-content {
        color: var(--third-color);
        line-height: 1.5;
        text-align: justify;
      }
    }
  }

  // SLIDER
  a {
    text-decoration: none;
  }
  .previous {
    color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    font-weight: bold;
    font-size: 1px;
  }

  .next {
    color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    position: absolute;
    font-weight: bold;
    font-size: 1px;
  }
}

.previous:hover {
  background-color: transparent;
  cursor: url("../../../assets/images/icons/Webp.net-resizeimage.png"), auto;
}

.next:hover {
  background-color: transparent;
  cursor: url("../../../assets/images/icons/Webp.net-resizeimage-2.png"), auto;
}

.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6,
.mySlides7,
.mySlides8 {
  display: none;
}

//FOOTER

footer {
  font-family: monospace;
  font-size: 15px;
  .copyright {
    display: flex;
    justify-content: center;
    p {
      color: var(--third-color);
      #year {
        color: var(--secondary-color);
      }
    }
  }
}

//DISABLE KURSOR DEPENDING ON SCREEN SIZE

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .notCursor * {
    cursor: auto;
  }
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
}
@media screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
  .notCursor * {
    cursor: auto;
  }
}
