:root {
  --primary-color: #ededed; //$color1
  --secondary-color: #444444; //$color2
  --third-color: #aaaaaa; //$color3
  --fourth-color: #ffffff; //$bright
}

html,
body {
  height: 100%;
}

/* Home Page */

body {
  margin: 0;
  text-align: center;
  background: var(--primary-color);
  color: #444444;
  font-weight: 400;
  line-height: 1.2rem;
  transition: ease-in-out 2s;
}

/* DARK MODE */

.dark-theme {
  --primary-color: #444444;
  --secondary-color: #ededed;
  // --third-color: #ffffff;
  // --fourth-color: #aaaaaa;
}
.theme-color {
  // position: relative;
  flex: 1;
  text-align: right;
  width: 95%;
}
#icon {
  width: 25px;
  flex: 1;
  text-align: right;
  margin-top: 15px;
}

/* Fonts */

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?9g13ug");
  src: url("fonts/icomoon.eot?9g13ug#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?9g13ug") format("truetype"),
    url("fonts/icomoon.woff?9g13ug") format("woff"),
    url("fonts/icomoon.svg?9g13ug#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Home Page Icons */

.icon-instagram:before {
  content: "\e902";
}

.icon-about:before {
  content: "\e903";
}

.icon-design:before {
  content: "\e906";
}

.icon-resume:before {
  content: "\e926";
}

.icon-mail:before {
  content: "\e949";
}

.icon-humanitarian:before {
  content: "\e9da";
}

.icon-projects:before {
  content: "\ea81";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-git:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eaca";
}

.icon-codepen:before {
  content: "\eae8";
}

#container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  font-family: monospace;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: all 0.1s ease-in;
  -webkit-transform: translate(0px, -3px);
  -moz-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

a:active {
  opacity: 1;
  filter: blur(0rem);
}

.circle-menu {
  width: 300px;
}

.menuItem a {
  font-size: 1em;
  color: var(--secondary-color);
}

#projects-list-home {
  display: none;
  z-index: 1;
}

.list-menu {
  list-style: none;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.row {
  justify-content: center;
}

.flex-item {
  padding: 5px;
  line-height: 2em;
  width: 200px;
  height: 150px;
  margin: 10px;
  font-size: 1em;
  text-align: left;
}

/* Responsive */

@media only screen and (max-width: 800px) {
  ul {
    padding-inline-start: 10px;
  }
  h1 {
    line-height: 1.5em;
  }
  .circle-menu {
    display: none;
  }
  .list-menu a span {
    margin-right: 7.5px;
  }
  #projects-list-home {
    display: block;
    position: absolute;
    width: 100%;
  }
}

//DISABLE KURSOR DEPENDING ON SCREEN SIZE

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .notCursor * {
    cursor: auto;
  }
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
}
@media screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
  .notCursor * {
    cursor: auto;
  }
}
