:root {
  --primary-color: #ededed;
  --secondary-color: #444444;
  --third-color: #aaaaaa;
  --fourth-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* Home Page */
body {
  margin: 0;
  text-align: center;
  background: var(--primary-color);
  font-weight: 400;
  line-height: 1.2rem;
  -webkit-transition: ease-in-out 2s;
  transition: ease-in-out 2s;
}

/* DARK MODE */
.dark-theme {
  --primary-color: #444444;
  --secondary-color: #ededed;
  --third-color: #ffffff;
  --fourth-color: #aaaaaa;
}

.theme-color {
  text-align: right;
  width: 95%;
  margin-right: 15px;
}

#icon {
  width: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 15px;
  position: absolute;
  top: 0;
}

/* LOADER  */
#app {
  visibility: hidden;
}

#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 46vh;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 45px;
  border: 2px solid #444444;
  border-style: dotted;
  margin-bottom: 50px;
  border-radius: 50px;
  font-family: monospace;
  font-size: 25px;
  -webkit-animation: rotate 1.5s linear;
          animation: rotate 1.5s linear;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
  }
}

.disappear {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  animation: fadeOut linear 0.3s;
  -webkit-animation: fadeOut linear 0.3s;
  -moz-animation: fadeOut linear 0.3s;
  -o-animation: fadeOut linear 0.3s;
  -ms-animation: fadeOut linear 0.3s;
  visibility: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.appear {
  animation: fadeIn linear 4.5s;
  -webkit-animation: fadeIn linear 4.5s;
  -moz-animation: fadeIn linear 4.5s;
  -o-animation: fadeIn linear 4.5s;
  -ms-animation: fadeIn linear 4.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fonts */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?9g13ug");
  src: url("fonts/icomoon.eot?9g13ug#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?9g13ug") format("truetype"), url("fonts/icomoon.woff?9g13ug") format("woff"), url("fonts/icomoon.svg?9g13ug#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Home Page Icons */
.icon-instagram:before {
  content: "\e902";
}

.icon-about:before {
  content: "\e903";
}

.icon-design:before {
  content: "\e906";
}

.icon-resume:before {
  content: "\e926";
}

.icon-mail:before {
  content: "\e949";
}

.icon-humanitarian:before {
  content: "\e9da";
}

.icon-projects:before {
  content: "\ea81";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-git:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eaca";
}

.icon-codepen:before {
  content: "\eae8";
}

#container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  font-family: monospace;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

a:active {
  opacity: 1;
  -webkit-filter: blur(0rem);
          filter: blur(0rem);
}

.circle-menu {
  width: 300px;
}

.circle-menu .cm-link {
  margin-left: 19.5px;
}

.menuItem a {
  font-size: 1em;
  color: var(--secondary-color);
}

#projects-list-home {
  display: none;
  z-index: 1;
}

.list-menu {
  list-style: none;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: monospace;
}

.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-item {
  padding: 5px;
  line-height: 2em;
  width: 200px;
  height: 150px;
  margin: 10px;
  font-size: 1em;
  text-align: left;
}

.flex-item p {
  color: var(--secondary-color);
}

/* Responsive */
@media only screen and (max-width: 800px) {
  ul {
    -webkit-padding-start: 10px;
            padding-inline-start: 10px;
  }
  h1 {
    line-height: 1.5em;
  }
  .circle-menu {
    display: none;
  }
  .list-menu a span {
    margin-right: 7.5px;
  }
  #projects-list-home {
    display: block;
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .notCursor * {
    cursor: auto;
  }
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
}

@media screen and (max-width: 812px) and (max-height: 430px) and (orientation: landscape) {
  div[class*="kursor"] {
    display: none !important;
  }
  div[class*="kursorChild"] {
    display: none !important;
  }
  .notCursor * {
    cursor: auto;
  }
}
/*# sourceMappingURL=style.css.map */